# DB
DB_USER="user"
DB_PW="password"
DB_NAME="example_database"
DB_URL=postgres://user@localhost:5432/example_database
PORT=4000

#Other
NODE_ENV=development
ACCESS_TOKEN_SECRET="123"
REFRESH_TOKEN_SECRET="123"
APP_DOMAIN = "http://localhost:3000"